@model AppSystem.Models.Usern;

<div>
    <dl class="column-sm-2">
        <dt class="column-sm-2">
            @Html.DisplayNameFor(model=>model.UserId)
        </dt>
        <dd class="column-sm-2">
            @Html.DisplayFor(model=>model.UserId)
            </dd>
        <dt class="column-sm-2">
            @Html.DisplayNameFor(model=>model.UserName)

        </dt>
         <dd class="column-sm-2">
            @Html.DisplayFor(model=>model.UserName)
            </dd>
        <dt class="column-sm-2">
            @Html.DisplayNameFor(model=>model.Passwrd)
        </dt>
         <dd class="column-sm-2">
            @Html.DisplayFor(model=>model.Passwrd)
            </dd>
    </dl>
</div>

